.contact{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    background-color: var(--mainBackground);
}
.container{
    width: 70%;
    height: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    height: 60%;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--background2);
}
label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
    color: white
}
.form>p{
    color : white
}
.form>label>input{
    border: none;
    padding: 5px;
}
.form>label>input:focus{
    outline: none;
}

@media (max-width : 700px) {
    .map { 
        display: none;
    }
}