.footer{
    width: 100%;
    height: 40vh;
    background-color: rgb(37, 35, 35);
}
.bottom{
    height: 30%;
    display: flex;
    width: 70%;
    border-top: 1px solid white;
    justify-content: center;
    align-items: center;
    color:white;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.top{
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.column>h3{
    color :rgb(196, 186, 186)
}
.column>p{
    color :white
}
.column{
    width: 25%;
    height: 80%;
}
.procon{
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media (max-width : 900px) {
    .column>h3 { 
        font-size: 10px;
    }
    .column>p { 
        font-size: 8px;
    }
}