.singleContainer{
    width: 90vw;
    min-height: 85vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background2);
}
.singleContainerInner{
    width: 90%;
    min-height: 80vh;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
}
.SingleImg{
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    border: 1px gray solid;
    box-sizing: border-box;
}
.SingleDescription{
    width: 50%;
    height: fit-content;
    min-height: 70vh;
    box-sizing: border-box;
    padding: 20px;
    color:  black;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-around;
}
.MoreSingleImgs{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:2px ;
    margin-bottom:2px ;
}
.MoreSingleImgsItem{
    display: flex;
    width: 20%;
    height: 100%;
}
.MoreSingleImgsItems{
    display: flex;
    height: 20vh;
    width: 90%;
    overflow-x: auto;
}
.MoreItems{
    width: 100%;
    min-height: 50vh;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 1px gray solid;
}
